body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#input-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, whitesmoke, grey);
  background-repeat: no-repeat;
}

#input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
  background-color: rgba(128, 128, 128, 0.795);
  border: 3px solid black;
  border-radius: 0.5em;
  width: 17.5em;
  color: whitesmoke;
}

input[placeholder] {
  text-align: center;
}

.question {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  color: whitesmoke;
  margin: -0.5em;
  font-weight: 700;
  text-shadow: 0 0 7px #fff, 0 0 10px gray, 0 0 21px gray, 0 0 42px gray,
    0 0 82px lightyellow, 0 0 92px lightyellow, 0 0 102px lightyellow,
    0 0 151px lightyellow;
}

#mood {
  border: 3px solid black;
  border-radius: 0.5em;
  height: 2.5em;
  width: 12em;
  padding: 0.85em;
}

label {
  padding: 1em;
}

#generator {
  margin: 1em;
  border: 3px solid black;
  padding: 1em;
  background-color: limegreen;
  color: whitesmoke;
  font-size: 1em;
  width: 11.5em;
  border-radius: 0.7em;
  cursor: pointer;
}

#generator:hover {
  background-color: rgba(50, 205, 50, 0.747);
}

#generator:active {
  background-color: rgba(50, 205, 50, 0.473);
}

#back {
  margin: 1em;
  border: 3px solid black;
  padding: 1em;
  background-color: blue;
  color: whitesmoke;
  font-size: 1em;
  width: 15.5em;
  border-radius: 0.7em;
  cursor: pointer;
}

#back:hover {
  background-color: rgba(0, 0, 255, 0.712);
}

#back:active {
  background-color: rgba(0, 0, 255, 0.582);
}

/* Welcome Page */

#welcome-page {
  background: linear-gradient(to top, darkblue, blue);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.welcome-title {
  font-family: "Big Shoulders Display", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4.5em;
  font-size: 3.75em;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px gray, 0 0 21px gray, 0 0 42px gray,
    0 0 82px lightyellow, 0 0 92px lightyellow, 0 0 102px lightyellow,
    0 0 151px lightyellow;
}

.arrow {
  font-size: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding-top: 0.85em;
  color: #fff;
  text-shadow: 0 0 7px cyan, 0 0 10px cyan, 0 0 21px cyan, 0 0 42px cyan,
    0 0 82px cyan, 0 0 92px cyan, 0 0 102px cyan, 0 0 151px cyan;
}

.stage {
  display: flex;
  height: 330px;
  width: 100%;
}
.box {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  height: 200px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
}
.bounce-4 {
  animation-name: bounce-4;
  animation-timing-function: ease;
}
@keyframes bounce-4 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
