body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/***************************************************
 *                                                 *
 *                 WELCOME PAGE                    *
 *                                                 *
 **************************************************/

#welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to top, #010827, #3c4a8e);
  padding: 1em;
}

#welcome-title {
  font-family: "Big Shoulders Display", sans-serif;
  text-align: center;
  font-size: 3.75em;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff, 0 0 20px cyan, 0 0 20px cyan,
    0 0 20px cyan, 0 0 20px cyan;
}

#arrow {
  font-size: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  text-shadow: 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff, 0 0 20px cyan, 0 0 20px cyan,
    0 0 20px cyan, 0 0 20px cyan;
}

.box {
  display: flex;
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  height: 200px;
  width: 200px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
}
/* combine .box and .bounce? */
.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/***************************************************
 *                                                 *
 *                  INPUT PAGE                     *
 *                                                 *
 **************************************************/
div#desktop-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #010827, #3c4a8e);
  height: 100vh;
}

#input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border-radius: 0.7em;
  color: whitesmoke;
  z-index: 1;
  margin: 1em;
  color: #fff;
}

select[placeholder] {
  text-align: center;
  margin: 0 1em;
}

select {
  background-color: #010827;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: whitesmoke;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 7px cyan;
}

.question {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  color: whitesmoke;
  font-weight: 700;
  text-shadow: 0 0 7px #fff;
  text-align: center;
  padding: 1em;
}

#mood {
  border-radius: 0.7em;
  padding: 1em;
  font-size: 1em;
  border: 2px solid #2c325d;
}

/***************************************************
 *                                                 *
 *                  OUTPUT PAGE                    *
 *                                                 *
 **************************************************/

section#output {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  color: whitesmoke;
}

output#palette {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  animation: slides 10s forwards;
  animation-iteration-count: infinite;
  font-family: "Open sans", sans-serif;
  font-size: 1em;
  margin: 1em;
}
output#palette h1 {
  text-shadow: 0 0 5px #fffb;
  text-align: center;
}
#first.start {
  animation-name: slide;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
#second.start {
  animation-name: slide;
  animation-duration: 2.8s;

  animation-iteration-count: 1;
}
#third.start {
  animation-name: slide;
  animation-duration: 2.6s;

  animation-iteration-count: 1;
}
#fourth.start {
  animation-name: slide;
  animation-duration: 2.4s;

  animation-iteration-count: 1;
}
div.color.stop {
  opacity: 0;
}
div.color {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-family: Quicksand, sans-serif;
  font-size: 1em;
  text-shadow: 2px 2px black;
  padding: 1em;
}

@keyframes slide {
  from {
    opacity: 0.4;
    transform: scale(0.4, 0.4) translate(0, -1400%) rotate(-0.4turn);
  }

  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

@keyframes saturate {
  from {
    filter: saturate(0%);
  }
  to {
    filter: saturate(100%);
  }
}

div.color:hover {
  filter: invert(75%);
}
div#first {
  background-color: #343c58;
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
}
div#second {
  background-color: #4e3f60;
}
div#third {
  background-color: #5e3e5a;
}
div#fourth {
  background-color: #b62b2b;
  border-bottom-left-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
}

.input-output-wrapper {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  /* flex-wrap: wrap;   */
  padding-bottom: 1em;
  /* height: 100vh; */
}

@media only screen and (max-height: 520px) {
  #welcome-page {
    align-items: center;
    justify-content: center;
  }

  #arrow {
    display: none;
  }

  output#palette {
    flex-direction: row;
  }

  div#first {
    border-top-right-radius: 0;
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
  }

  div#fourth {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.7em;
    border-top-right-radius: 0.7em;
  }
}
